/* Estilos Generales */

html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 40px;
    background-image: url(fondo.jpeg);
    background-size: contain;

}

/* Menu */ 

#menu_pestañas{
    margin: 70px, auto;
    background-color: rgba(196, 238, 196, 0.664);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    border-style: double;
    padding-top: 50px;
    padding-bottom: 50px;

}

#menu{
    width: 100%;
    height: 60px;
    background-color: rgba(196, 238, 196, 0.664);
}

#boton{
    padding: 10px;

}

#boton li{
    display: inline;
}

#boton li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    float: left;
    padding-left: 15px;
    background-color: rgb(55, 55, 243);
    color: whitesmoke;
    width: 80px;
    text-align: center;
    height: 30px;

}

#boton li a:hover{
    background-color: rgba(0, 0, 0, 0.527);
}

/* primer texto */

.primer_texto{
    margin: 20px;
    padding: 20px;
    background-color: rgba(17, 8, 20, 0.774);

}

.subtitulo{
    text-align: center;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgba(211, 211, 211, 0.849);
}

.texto{
    text-align: justify;
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 200%;

}

/* Estilos de galeria */

.contenedor_galeria{
    margin: 20px;
    padding: 20px;
    background-color: rgba(19, 19, 19, 0.692);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.titulo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    line-height: 100px;
    width: 100%;
    
}

.caja_galeria{
    width: 28%;
    height: 250px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}

.caja_galeria img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.caja_galeria:hover .caja_hover{
    transform: translate(0);

}

.caja_hover{
    transform: translate(100%, 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(19, 19, 19, 0.664);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transition: transform .4s;
    text-align: center;
}

/* Formulario */

.seccion_formulario{
    margin: 20px;
    padding: 20px;
    background-color: rgba(19, 18, 18, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;

}

.seccion_formulario h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.form{
    width: 30%;
    height: 500px;
    box-shadow: 0 0 6px rgba(19, 21, 36, 0.753);

}

.contenedor_formulario{
    width: 80%;
    margin: 0 auto;
    height: calc(100%-100px);

}

.grupo{
    margin: 50px;
    position: relative;
}

input{
    background: none;
    color: bisque;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(115, 115, 250);
}

label{
    color: white;
    font-size: 15px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10px;
    left: 5px;
    transition: top .5s, font-size .5s, color .5s;

}

input:focus+label,
input:valid+label{
    top: -14px;
    font-size: 10px;
    color: rgb(115, 115, 250);
}

input:invalid+label{
    color: rgb(196, 46, 46);
}

input[type=submit]{
    width: 120px;
    margin: 40px auto 0 auto;
    background: rgb(115, 115, 250);
    cursor: pointer;
    font-weight: 300;

}

input[type=submit]:hover{
    background-color: rgb(45, 45, 110);
}

/* Footer */

#footer{
    background-color: rgba(0, 0, 0, 0.616);
    margin: 20px;
    padding: 20px;
}

.nombre{
    color: rgb(115, 115, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    
}